# Root editor config file
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Python
[*.py]
indent_style = space
indent_size = 4
max_line_length = 120

# JavaScript / Frontend
[{*.js,*.vue,*.css,*.scss,*.html}]
indent_style = space
indent_size = 2

# JSON files - DocType schema files often omit final newline
[*.json]
insert_final_newline = false
indent_style = space
indent_size = 2

# YAML files
[{*.yml,*.yaml}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
